/* Prevent horizontal overflow in inline tables */
.inline-group table th, .inline-group table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inline-group .tabular th, .inline-group .tabular td {
    max-width: 80px;  /* Adjust the value as needed */
    word-wrap: break-word;
}

/* Specifically target the image column */
.inline-group .field-image_tag {
    width: 80px;  /* Adjust this width to your preference */
}
